{:paths ["src" "resources"]
 :deps {org.clojure/core.match {:mvn/version "1.0.0"}}
 :aliases
 {:test {:extra-paths ["test"]}
  :hooks {:deps
          {clj-kondo/clj-kondo
           {:git/url "https://github.com/clj-kondo/clj-kondo.git"
            :git/tag "v2025.02.20"
            :git/sha "2f91d3d"}}
          :paths ["resources/clj-kondo.exports/whitepages/expect-call"]}
  :lint {:deps
         {clj-kondo/clj-kondo
          {:git/url "https://github.com/clj-kondo/clj-kondo.git"
           :git/tag "v2025.02.20"
           :git/sha "2f91d3d"}}
         :main-opts ["-m" "clj-kondo.main" "--parallel" "--lint"]}}}
